@using Newtonsoft.Json
@model Algorithm.Models.DatabaseViewModel
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Custom/Functions.js"></script>

<textarea id="textareaParametersId" style="font-size: x-small" rows="13" cols="30"></textarea>
<textarea id="textareaDistMatrixId" style="font-size: x-small; position: absolute" rows="13" cols="75"></textarea>
<textarea id="textareaFlowMatrixId" style="font-size: x-small; position: absolute; margin-left: 400px" rows="13" cols="75"></textarea>

<br/>Parameters:
@{
    int i = 0;
}
@foreach (var p in Model.Parameters)
{
    i++;
    string id = string.Format("buttonParametersId{0}", p.Id);
    <button id=@id style="background-color: white">@i</button>
}
<button id="saveParametersId">Save</button>

<br/>Distances Matrix:
@{
    i = 0;
}
@foreach (var d in Model.DistMatrices)
{
    i ++;
    string id = string.Format("buttonDistMatrixId{0}", d.Id);
    <button id=@id style="background-color: white">@i</button>
}
<button id="saveDistMatrixId">Save</button>

<br/>Flows Matrix:
@{
    i = 0;
}
@foreach (var f in Model.FlowMatrices)
{
    i++;
    string id = string.Format("buttonFlowMatrixId{0}", f.Id);
    <button id=@id style="background-color: white">@i</button>
}
<button id="saveFlowMatrixId">Save</button>
<br/>
<select id="selectTypeId">
    <option>Parameters</option>
    <option>DistMatrix</option>
    <option>FlowMatrix</option>
</select>

<br/>
<button id="go">Go</button><br/>
<button id="get">Get</button><br/>
<textarea id="textareaResultId" style="font-size: x-small" cols="30" rows="25"></textarea>
@Html.ActionLink("Log Out", "LogOut", "Auth")

<script type="text/javascript">
    var parametersId;
    var distMatrixId;
    var flowMatrixId;
    var model = @Html.Raw(JsonConvert.SerializeObject(Model))

    $('[id^=save').click(function(e) {
        e.preventDefault();
        var type = $(this).attr('id').substring(4, $(this).attr('id').length - 2);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveChoosenItem", "Home")',
            traditional: true,
            data: { type: type, text: $('#textarea' + type + 'Id').val() },
            success: function(data) {
                alert(data);
            },
            error: function() {
                alert(data);
            }
        });
    });

    $('[id^=buttonParametersId').click(function(e) {
        e.preventDefault();
        parametersId = $(this).attr('id').substring(18, $(this).attr('id').length);
        $('[id^=buttonParametersId').each(function() {
            $(this).css('background-color', 'white');
        });
        $(this).css('background-color', 'gold');

        $.each(model.Parameters, function(ind, obj) {
            if (obj.Id == parametersId) {
                $('#textareaParametersId').text(obj.StringView);
            }
        });
    });

    $('[id^=buttonDistMatrixId').click(function(e) {
        e.preventDefault();
        distMatrixId = $(this).attr('id').substring(18, $(this).attr('id').length);
        $('[id^=buttonDistMatrixId').each(function() {
            $(this).css('background-color', 'white');
        });
        $(this).css('background-color', 'gold');

        $.each(model.DistMatrices, function(ind, obj) {
            if (obj.Id == distMatrixId) {
                $('#textareaDistMatrixId').text(obj.MatrixView);
            }
        });
    });

    $('[id^=buttonFlowMatrixId').click(function(e) {
        e.preventDefault();
        flowMatrixId = $(this).attr('id').substring(18, $(this).attr('id').length);
        $('[id^=buttonFlowMatrixId').each(function() {
            $(this).css('background-color', 'white');
        });
        $(this).css('background-color', 'gold');

        $.each(model.FlowMatrices, function(ind, obj) {
            if (obj.Id == flowMatrixId) {
                $('#textareaFlowMatrixId').text(obj.MatrixView);
            }
        });
    });

    $('#go').click(function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessChoosenItems", "Home")',
            traditional: true,
            data: {
                parametersId: parametersId,
                distMatrixId: distMatrixId,
                flowMatrixId: flowMatrixId
                },
                success: function(data) {
                    $('#textareaResultId').text(data);
                },
                error: function(data) {
                    alert('Error: ' + data);
                }
            });
    });

    $('#get').click(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllById", "Home")',
            traditional: true,
            data: {
                parametersId: parametersId,
                distMatrixId: distMatrixId,
                flowMatrixId: flowMatrixId,
                type: $('#selectTypeId').find(":selected").text()
            },
            success: function (data) {
                $('#textareaResultId').text(data);
            },
            error: function (data) {
                alert('Error: ' + data);
            }
        });
    });
</script>