@model Algorithm.Models.InputData
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Custom/Functions.js"></script>

<form action="@Url.Action("LoadFile", "Home")" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file"/>
    <input type="submit"/>
</form>

@using (Html.BeginForm("InputMatrix", "Home", FormMethod.Post, new {id = "inputForm"}))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();        
    <div>
        @Html.LabelFor(m => m.PheromoneIncrement)
        @Html.TextBoxFor(m => m.PheromoneIncrement, new {value = "1"})
    </div>
    <div>
        @Html.LabelFor(m => m.ExtraPheromoneIncrement)
        @Html.TextBoxFor(m => m.ExtraPheromoneIncrement, new {value = "2"})
    </div>
    <div>
        @Html.LabelFor(m => m.AntsNumber)
        @Html.TextBoxFor(m => m.AntsNumber, new {value = "8"})
    </div>
        @Html.LabelFor(m => m.NoUpdatesLimit)
        @Html.TextBoxFor(m => m.NoUpdatesLimit, new {value = "50"})
    <div>
        @Html.LabelFor(m => m.IterationsNumber)
        @Html.TextBoxFor(m => m.IterationsNumber, new {value = "100"})
    </div>
    <input id="postInputForm" type="button" value="Input"/>
}
<button id="loadFiles">Load</button><br/>
<button id="postMatrix">Process</button><br/>   

<textarea id="textareaResult" style="position: absolute; margin: -190px 0 0 900px" cols="30" rows="35"></textarea>
<textarea id="textareaFile" style="position: absolute; margin: -190px 0 0 450px" cols="60" rows="10"></textarea>
<select id="files" style="position: absolute; margin: -170px 0 0 340px"></select>
<button id="chooseFile" style="position: absolute; margin: -190px 0 0 340px">Choose</button>
<table id='DistTable'></table>
<table id='FlowTable'></table>

<script type="text/javascript">

    var chosenFileName;

    $(document).ready(function() {
        $('#chooseFile').click(function(event) {
            event.preventDefault();

            $.ajax({
                url: '@Url.Action("InputMatrix", "Home")',
                type: "POST",
                data: {name: chosenFileName },
                success: function(data) {
                    createMatrices(data);
                }
            });
        });
    });

    $(document).ready(function() {
        $('#loadFiles').click(function(event) {
            event.preventDefault();

            $('#files').empty();
            $.ajax({
                url: '@Url.Action("GetFiles", "Home")',
                type: "POST",
                success: function (data) {
                    $.each(data.names, function(i, el) {
                        $('#files').append(new Option(el));
                    });
                    
                    $("#files").bind("change", function () {
                        for (var i = 0; i < data.names.length; i++) {
                            if (data.names[i] === $(this).val()) {
                                chosenFileName = $(this).val();
                                $('#textareaFile').text(data.values[i]);
                                break;
                            }
                        }
                    });
                }
            });
        });
    });


    $(document).ready(function() {
        $('#postInputForm').click(function(event) {
            event.preventDefault();

            $.ajax({
                url: $('#inputForm').attr('action'),
                type: $('#inputForm').attr('method'),
                data: $('#inputForm').serialize(),
                success: function(data) {
                    createMatrices(data);
                }
            });
        });
    });


    $("#postMatrix").click(function() {
        var distArray = createArray('Dist');
        var flowArray = createArray('Flow');
        var matrix = {
            DistGraph: distArray,
            FlowGraph: flowArray
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessMatrix", "Home")',
            traditional: true,
            data: matrix,
            success: function(data) {
                $('#textareaResult').text(data);
            },
            error: function(data) {
                alert(data);
            }
        });
    });
</script>

