@model Algorithm.Models.InputData
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Custom/Functions.js"></script>

@using (Html.BeginForm("InputMatrix", "Home", FormMethod.Post, new {id = "form"}))
{
    <div>
        @Html.LabelFor(m => m.PheromoneIncrement)
        @Html.TextBoxFor(m => m.PheromoneIncrement)
    </div>
    <div>
        @Html.LabelFor(m => m.ExtraPheromoneIncrement)
        @Html.TextBoxFor(m => m.ExtraPheromoneIncrement)
    </div>
    <div>
        @Html.LabelFor(m => m.AntsNumber)
        @Html.TextBoxFor(m => m.AntsNumber)
    </div>
        @Html.LabelFor(m => m.NoUpdatesLimit)
        @Html.TextBoxFor(m => m.NoUpdatesLimit)
    <div>
        @Html.LabelFor(m => m.IterationsNumber)
        @Html.TextBoxFor(m => m.IterationsNumber)
    </div>
    <input id="post" type="button" value="Input"/>
}

<form method="post" enctype="multipart/form-data">

  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />

  <input type="submit" />
</form>


<textarea style="position: absolute; margin: 20px 0 0 700px" cols="30" rows="20"></textarea>
<button id="matrix">Process</button>   
<table id='table1'></table>
<table id='table2'></table>

<script type="text/javascript">

    $(document).ready(function() {
        $('#post').click(function(event) {
            event.preventDefault();

            $.ajax({
                url: $('#form').attr('action'),
                type: $('#form').attr('method'),
                data: $('#form').serialize(),
                success: function(data) {
                        createMatrices(data);
                    }});
        });
    });


    $("#matrix").click(function() {
        var array = createArray();
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessMatrix", "Home")',
            traditional: true,
            data: { 'array': array },
            success: function(data) {
                $('textArea').text(data);
            },
            error: function(data) {
                alert(data);
            }
        });
    });
</script>

