@model Algorithm.Models.InputData
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Custom/Functions.js"></script>

<form action="@Url.Action("LoadFile", "Home")" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file"/>
    <input type="submit"/>
</form>

@using (Html.BeginForm("InputMatrix", "Home", FormMethod.Post, new {id = "form"}))
{
    Html.AntiForgeryToken();
    Html.ValidationSummary();        
    <div>
        @Html.LabelFor(m => m.PheromoneIncrement)
        @Html.TextBoxFor(m => m.PheromoneIncrement, new {value = "1"})
    </div>
    <div>
        @Html.LabelFor(m => m.ExtraPheromoneIncrement)
        @Html.TextBoxFor(m => m.ExtraPheromoneIncrement, new {value = "2"})
    </div>
    <div>
        @Html.LabelFor(m => m.AntsNumber)
        @Html.TextBoxFor(m => m.AntsNumber, new {value = "8"})
    </div>
        @Html.LabelFor(m => m.NoUpdatesLimit)
        @Html.TextBoxFor(m => m.NoUpdatesLimit, new {value = "50"})
    <div>
        @Html.LabelFor(m => m.IterationsNumber)
        @Html.TextBoxFor(m => m.IterationsNumber, new {value = "100"})
    </div>
    <input id="postForm" type="button" value="Input"/>
}

<textarea style="position: absolute; margin: 20px 0 0 700px" cols="30" rows="20"></textarea>
<button id="matrix">Process</button>   
<table id='table1'></table>
<table id='table2'></table>

<script type="text/javascript">

    $(document).ready(function() {
        $('#postForm').click(function(event) {
            event.preventDefault();

            $.ajax({
                url: $('#form').attr('action'),
                type: $('#form').attr('method'),
                data: $('#form').serialize(),
                success: function(data) {
                    createMatrices(data);
                }
            });
        });
    });


    $("#matrix").click(function() {
        var distArray = createArray('Dist');
        var flowArray = createArray('Flow');
        var matrix = {
            DistGraph: distArray,
            FlowGraph: flowArray
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("ProcessMatrix", "Home")',
            traditional: true,
            data: matrix,
            success: function(data) {
                $('textArea').text(data);
            },
            error: function(data) {
                alert(data);
            }
        });
    });
</script>

